.koe_purchase_goods-list-header{
    text-align: center;
}

ul.koe-purchase-choise-year li {
  float:left;
  padding: 0 0 0 .5em;
}

ul li.koe-purchase-choise-year-first {
  padding: 0 50px 0 15px;
}

ul.koe-purchase-choise-year li a {
  /*color:#fff;*/
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}

